{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="grid mt-20" style="grid-template-columns: 2fr 6fr; gap: 14px;">
        <div style="background-color: rgb(22, 21, 21);" class="text-center pt-5 column">
            <img src="{{album.album_pic.url}}" alt="" style="height: 200px;"><br>
            <span class="white">{{album.name}}</span>
            <span><a class="text-center grid grey" href="{% url 'music:artist' album.artist %}">{{album.artist}}</a></span>
            <span>{{album.release_year}}</span>
        </div>
        <div style="background-color: gray;">
            <h4 class="text-center">Songs</h4>
            {% for song in albums_song %}
                <table class="text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>No</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Genre</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="align-middle">{{song.num}}</td>
                            <td class="align-middle">{{song.name}}</td>
                            <td class="align-middle">
                                {% for artist in song.artist.all %}
                                    {{artist.artist_name}},
                                {% endfor %}
                            </td>
                            <td>
                                {% for genre in song.genre.all %}
                                    {{genre.genre}},
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}

